@font-face {
  font-family: 'Inconsolata', monospace;
  src: url('https://fonts.googleapis.com/css?family=Inconsolata');
}

body {
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
}

#editor_container, #preview_container {
  margin-left: 50px;
  margin-top: 50px;
}
